<div class="container">
  <h1>Angular Lesson 1 Exercises</h1>
  <div class="row">
    <div class="col">
      <app-movie-list-component></app-movie-list-component>
    </div>
    <div class="col">
      <app-photo-video-component></app-photo-video-component>
    </div>
    <div class="col">
      <app-chores-list-component></app-chores-list-component>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-links-component></app-links-component>
    </div>
  </div>
</div>